<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Html.Style("~/Content/bootstrap.css");
    <link href="@Url.ContentVersioned("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/angular.js")" type="text/javascript"></script>
    @Html.Script("~/Scripts/angular-ui/ui-bootstrap.js");
</head>

<body>
    @RenderBody()
</body>
</html>
